/* global.css */

body {
    --bg: rgb(218, 218, 218);
    --textNormal: #222;
    --textTitle: #222;
    --textLink: #007acc;
    --hr: hsla(0, 0%, 0%, 0.2);
    --blockquote: hsla(0,0%,0%,0.59);
    --link: #007acc;
  
    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: rgb(85,85,85);
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: rgb(255,175,26);
    --hr: hsla(0, 0%, 100%, 0.2);
    --blockquote: rgba(255, 255, 255, 0.88);
    --link: rgb(255,175,26);
  }

  /* h3 a {
    font-family: 'Montserrat, sans-serif';
    font-weight: 'bold';
    box-shadow: 'none',
  } */

  .splash-item h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .splash-col {
    display: flex;
    flex-direction: column;
  }

  .splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }