/*.content,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family:sans-serif;
}

.top-nav,
.top-nav h1,
.top-nav .name h1 a,
.top-nav h2,
.top-nav h3,
.top-nav h4,
.top-nav h5,
.top-nav h6,
.top-nav ul li,
.top-nav ul li > a,
.top-nav .toggle-topbar.menu-icon a {
    list-style:none;
    display: block;
    font-family: sans-serif;
    color: #222222;
    background-color: white;
}

.top-bar.expanded .toggle-topbar.menu-icon a {
    color: #888888;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #222222, 0 7px 0 1px #222222, 0 14px 0 1px #222222;
}

.top-bar.expanded .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #888888, 0 7px 0 1px #888888, 0 14px 0 1px #888888;
}


.top-bar,
.top-bar-section ul li:not(.has-form) a:not(.button),
.top-bar.expanded .title-area {
    display: inline;
    background-color: white;
}

#resume {
    min-width: 900px;
}*/

body {
  margin-top: 2rem; }

.title-bar {
  background: #333;
  padding: 0.9rem; }

.top-bar {
  background: #333; }
  .top-bar ul {
    background: #333; }
    .top-bar ul li {
      background: #333; }
      .top-bar ul li a {
        color: #fff; }

.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

@media only screen and (min-width: 40em) {
  .top-bar .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .top-bar .menu:first-child {
    border-left: none; }

  .top-bar .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }
