.content,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family:sans-serif;
}

.top-bar {
  background-color: white;
}

.top-bar li a{
  list-style: none;
}

.top-bar-title a{
  font-size: 1.4em;
  color: #580000;
}

.top-bar-left li a{
  font-size: 1.3em;
  color: #020202;
  /*list-style: none;*/
  background-color: white;
}

.top-bar-left li a:hover{
  background-color:#505050;
  color: white;
}

.callout{
  border-color: white;
}
